/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
}
/* Container para a logo */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4caf50;
  padding: 10px 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0px; /* Remove o espaço acima da barra de navegação */
  
}

/* Estilo da imagem da logo */
.logoImage {
  max-width: 100%;
  height: auto;
}

/* Barra de navegação */
.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4caf50;
  padding: 10px 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 0; /* Remove o espaço acima da barra de navegação */
}

.navItem {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
  margin-top: 0px;
}

.navItem:hover {
  text-decoration: underline;
}

/* Botões de ação */
.buttonContainer {
  display: flex;
  flex-direction: row; /* Lado a lado */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaçamento entre os botões */
  margin: 50px 0; /* Espaço acima e abaixo dos botões */
}

.button {
  min-width: 150px;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Tonalidades de verde */
.buttonLightGreen {
  background-color: #327f36; /* Verde claro */
}

.buttonLightGreen:hover {
  background-color: #29852e; /* Verde mais escuro ao passar o mouse */
}

.buttonGreen {
  background-color: #28752a; /* Verde médio */
}

.buttonGreen:hover {
  background-color: #257529; /* Verde mais escuro ao passar o mouse */
}

.buttonDarkGreen {
  background-color: #2e7d32; /* Verde escuro */
}

.buttonDarkGreen:hover {
  background-color: #1b5e20; /* Verde ainda mais escuro ao passar o mouse */
}

/* Estilo do rodapé */
footer {
  background-color: #328b3b; /* Cor de fundo escura */
  color: #f1f1f1; /* Cor do texto em tom claro */
  text-align: center; /* Alinha o texto ao centro */
  padding: 20px 0; /* Espaçamento interno para altura */
  font-size: 0.9rem; /* Tamanho do texto */
  margin-top: auto; /* Garante que o rodapé fique no final da página */
  box-shadow: 0px -2px 5px rgba(33, 158, 62, 0.1); /* Sombra suave no topo do rodapé */
}

/* Links no rodapé */
footer a {
  color: #81c784; /* Tom verde claro para links */
  text-decoration: none; /* Remove sublinhado */
  font-weight: bold; /* Deixa os links em negrito */
}

footer a:hover {
  color: #66bb6a; /* Verde mais escuro ao passar o mouse */
  text-decoration: underline; /* Adiciona sublinhado no hover */
}
